* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}


.none{
    -webkit-text-fill-color: #d7944700;
    -webkit-text-stroke: 1px var(--main-color);
}

.home::after{
    content: '';
    height: 100%;
    width: 100%;
    background: var(--snd-bg-color);
    position: absolute;
    clip-path: circle(60% at right 70%);
    z-index: -1;
}

:root {
    --bg-color:#000;
    --snd-bg-color:#111;
    --text-color:#fff;
    --main-color:#45ffca;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 8% 2rem;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

span{
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content{
    font-size: 5rem;
    font-weight: 700;
}

.home-content span {
    font-size: 4rem;
    font-weight: 550;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    width: 45vw;
}

.home-img::before{
    content: "FITNESS";
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translateX(-50%);
    font-size: 20rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--text-color);
    opacity: 0.1;
    z-index: -1;
}

.home-content p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover{
    color: var(--text-color);
    box-shadow: 0 0 1.6rem var(--main-color);
}
/*here we will write code for service section code*/

.service{
    background-color: #000;
    overflow: hidden;
}

.service__grid{
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
}

.service-card span{
    font-size: 4rem;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px lightseagreen;
    opacity: 0.75;
}

.service-card p{
    color: rgb(190, 190, 190);
    font-size: 2.5rem;
}

.section-container h2{
    color: rgb(190, 190, 190);
    font-size: 5rem;
}


.service-card h4 {
    margin-bottom: 0.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
}


.service_img{
    display: none;
}

@media (width > 540px){
    .service__grid{
        grid-template-columns: repeat(2, 1fr);
    }
}


/*food section code*/

.Foodproject{
    background: var(--snd-bg-color);
}
.heading{
    text-align: center;
    font-size: 6.5rem ;
}

.food-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.1rem;
}

.food{
    background: var(--bg-color);
    border-radius: 27px ;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all 0.5s ease;
}

.food img{
    height: auto;
    width: 100%;
    border-radius: 27px;
    margin-bottom: 1.4rem;
}

.food h4{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
    color: var(--text-color);
}

.food:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.05);
    cursor: pointer;
}
/*workout section*/


.workout{
    background: var(--bg-color);
}
.head-of-workout{
    text-align: center;
    font-size: 6.5rem ;
}

.workout-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.1rem;
}

.row{
    background: var(--bg-color);
    border-radius: 27px ;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all 0.5s ease;
}

.row img{
    height: auto;
    width: 100%;
    border-radius: 27px;
    margin-bottom: 1.4rem;
}

.row h4{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}

.row:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.04);
    cursor: pointer;
}




/*about us code*/




.contaner-footer{
    background: var(--snd-bg-color);
}

.footer-content div{
    font-size: 15px;
    font-weight: 100;
    width: 250px;
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 200px;
}

.footer-content li {
    margin-top: 25px;
}
.footer-content a {
    color: #fff;
    transition: all 0.5s ease;
}

.footer-content a:hover{
    color: var(--main-color);
}


.footer-content p{
    margin: 20px;
}

.icon{
    margin: 10px;
    border:1px solid #45ffca;
    border-radius: 100%;
    background: #00000000;
    transition: all 1s ease;
}

.icon:hover{
    transform: scale(1.5);
    background-color: #45ffca;
    box-shadow:0 0 1.6rem var(--main-color);
}

.footer-content h1{
    margin-top: 25px;
}

@media (width > 1024px) {
    .service__grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .service_img{
        position: relative;
        isolation: isolate;
        display: flex;
        height: 100%;
        width: 100%;
        grid-area: 1/2/3/3;
    }
}